@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Concert+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap');

@media (max-width:1024px) {
    .main_work_wrapper .col-md-5,
    .athelate_row_wrapper .col-md-5{
        width: 48% !important;
    }
    .table_data_accordion_row_wrapper .col-md-3{
        width: 32% !important;
    }
    .boxes_wrapper_container .col-md-10{
        width: 94% !important;
    }
    .ground_img img,
    .howWimg1{
        width: 100% !important;
        height: auto !important;
    }
}

@media (min-width:768px) {
    .table_data_accordion{
        font-size: 12px;
    }
    .boxes_wrapper_container{
        font-size: 12px;
    }
    .ribbon-container{
        font-size: 12px;
    }
    .types_container_wrapper .col-md-10{
        width: 98% !important;
        font-size: 12px;
    }
    .three3, .three2, .three1 {
        width: 100%;
        height: auto;
    }

}

@media (max-width: 768px) {
    .boxes_wrapper_container .container_box_card-3,
    .boxes_wrapper_container .container_box_card-2{
        margin-top: 20px;
    }
    .table_accordion_wrapper_md-4 img{
        display: none !important;;
    }
    .table_data_accordion_row_wrapper .col-md-3{
        width: 100% !important;
    }
    /* .athelate_row_wrapper .col-md-5:nth-child(2){
        display: none;
    } */
    .main_work_wrapper .col-md-5,
    .athelate_row_wrapper .col-md-5{
        width: 100% !important;
    }
    .main_work_wrapper .accordion_image{
        margin-top: 20px;
    }
    .athelate_image_wrapper{
        justify-content: center;
    }
    .accordion_image{
        justify-content: center;
        display: flex;
    }
    .accordion_image img{
        width: 70%;
    }
    .table_data_accordion_row_wrapper .col-md-7{
        width: 70%;
    }
    .three3, .three2, .three1 {
        width: 100%;
        height: auto;
    }
    .three_container_3 .row,
    .three_container_1 .row{
        flex-direction: column-reverse !important;
    }
}
@media (max-width: 500px) {
    .athelate_row_wrapper .title{
        font-size: 2.6rem;
    }
    .main_work_wrapper{
        margin: 0;
    }
    .footer_images_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .athelate_row_wrapper{
        text-align: center;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }
    .athelate_image_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_work_wrapper{
        background-size: cover;
    }
    .accordion-item{
        background: transparent !important;
        border: 1px solid #000 !important;
    }
    .custom-btn.accordion-button{
        background: transparent !important;;
    }
    .table_data_accordion{
        background-image: none !important;
    }
    .partic_row_wrapper .col-md-6 img{
        width: 100%;
        height: auto;
    }
    .partic_row_wrapper{
        height: auto !important;
    }
    .table_data_accordion_row_wrapper .col-md-7{
        width: 100% !important;
    }
    .desc_img{
        width: 100%;
        height: auto;
    }
    .small_desc_btn{
        flex-direction: column;
        text-align: center;
    }
    .three3, .three2, .three1 {
        width: 100%;
        height: auto;
    }
    .three_container_3 .row,
    .three_container_1 .row{
        flex-direction: column-reverse !important;
    }
    .ground_img img{
        width: 100% !important;
        height: auto !important;
    }
}