@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Concert+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap');

@media (max-width:1024px) {
    .main_work_wrapper .col-md-5,
    .athelate_row_wrapper .col-md-5{
        width: 48% !important;
    }
    .table_data_accordion_row_wrapper .col-md-3{
        width: 32% !important;
    }
    .boxes_wrapper_container .col-md-10{
        width: 94% !important;
    }
}

@media (min-width:768px) {
    .table_data_accordion{
        font-size: 12px;
    }
    .boxes_wrapper_container{
        font-size: 12px;
    }
    .ribbon-container{
        font-size: 12px;
    }
    .types_container_wrapper .col-md-10{
        width: 98% !important;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .boxes_wrapper_container .container_box_card-3,
    .boxes_wrapper_container .container_box_card-2{
        margin-top: 20px;
    }
    .table_accordion_wrapper_md-4 img{
        display: none !important;;
    }
    .table_data_accordion_row_wrapper .col-md-3{
        width: 100% !important;
    }
    .athelate_row_wrapper .col-md-5:nth-child(2){
        display: none;
    }
    .main_work_wrapper .col-md-5,
    .athelate_row_wrapper .col-md-5{
        width: 100% !important;
    }
    .main_work_wrapper .accordion_image{
        margin-top: 20px;
    }
}
@media (max-width: 500px) {
    .athelate_row_wrapper .title{
        font-size: 2.6rem;
    }
    .main_work_wrapper{
        margin: 0;
    }
    .footer_images_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}