.howW_img1{
    width: 100%;
    height: auto;
}
.howWrow_img_md5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.howWcontainer .howWrow{
    align-items: center;
}
.howWcontainer1{
    background-color: #cbd5e1;
    min-height: 100vh;
}
.howWh1{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 60px;
    font-style: normal;
}
.bluehowW,
.greenhowW{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #060606;
    background-color: #16a349;
    color:white ;
}
.bluehowW{
    background-color: #a0d3fa;
}
.particcontainer ul li,
.howWcontainer ul li{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
.particcontainer ul li .span_circle,
.howWcontainer ul li .span_circle{
    background-color: #16a349;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.particcontainer ul li:nth-child(2) .span_circle,
.howWcontainer ul li:nth-child(2) .span_circle{
    background-color: rgb(163, 41, 41) !important;
}
.particcontainer ul li:nth-child(2) .span_circle,
.howWcontainer ul li:nth-child(3) .span_circle{
    background-color: rgb(182, 194, 51) !important;
}

.partic_row_wrapper{
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.desc_img{
    max-width: 700px;
}
.small_desc_btn{
    gap: 15px;
    justify-content: center;
}
.small_desc_btn span{
    padding: 5px 15px;
    border-radius: 20px;
}
.three3,
.three2,
.three1{
    max-width: 500px;
}
.left_three{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rules_category_btn,
.left_three_btn{
    background-color: #16a349;
    border: 1px solid #060606;
    padding: 7px 15px;
    border-radius: 20px;
    width: fit-content;
    color: white;
}
.rules_category_btn{
    background-color:#dc3444;
    width: fit-content !important;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .map_area_city{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ground_img img{
    width: 500px;
  }
  .map_area_city img{
    width: 80%;
  }
  .dpc_data_show{
    width: 100%;
    padding: 10px;
    border: 2px solid #060606;
    border-radius: 10px;
  }

  .text_style_link{
    text-decoration: none !important;
    color: white;
  }